.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;

  .css-animation {
    padding: 40px 0px;
  }

  .explain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    code {
      background-color: #fff5f5;
      color: #ff502c;
      font-size: 0.87em;
      padding: 0.065em 0.4em;
    }
  }
}
