.blog {
  // width: 100vw;
  // height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  header {
    // background-image: url(../../asset//img/header.jpg);
    // background-image: url(https://cdn.jsdelivr.net/gh/Huanqiang/imgBed@V1.001/img/20200507193003.jpg);
    height: 390px;
    background-size: cover;
  }
  &-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  &-slider {
    width: 300px;
    padding-top: 18px;
    // margin-left: 8px;
    .profile {
      margin: 5px;
      border-radius: 6px;
      transition: box-shadow linear 0.15s;
      box-shadow: 0px 0px 15px 6px rgba($color: #000000, $alpha: 0.1);
      overflow: hidden;
      &:hover {
        box-shadow: 0px 0px 15px 6px rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
  &-main {
    flex: 1;
    width: auto;
    // height: 100vh;
    padding: 24px 16px 8px;
    &-pagination {
      display: flex;
      justify-content: center;
    }
  }
  &-item {
    display: flex;
    width: 100%;
    height: 280px;
    margin-bottom: 24px;
    border-radius: 6px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    overflow: hidden;

    user-select: none;
    cursor: pointer;
    transition: box-shadow linear 0.15s;
    box-shadow: 0px 0px 15px 6px rgba($color: #000000, $alpha: 0.1);

    &-image {
      position: relative;
      flex: 1 0 380px;
      width: 380px;
      height: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.25s linear;
        position: relative;

        &:before {
          /* 关键是这句 */
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;

          background: #ffffff center no-repeat;
          background-image: url(../../asset/img/image-error.png);
          background-size: contain;
          width: 380px;
          height: 280px;
        }
      }

      // .loading {
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   background: #ffffff center no-repeat;
      //   background-image: url(../../asset/img/image-error.png);
      //   background-size: contain;
      // }
    }
    &-brief {
      // width: auto;
      padding: 32px 32px;
      color: #4c4948;
      .title {
        margin-top: 8px;
        font-size: 32px;
        color: #4c4948;
        margin-bottom: 8px;
        width: 390px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .category {
        font-size: small;
      }
      .content {
        margin-top: 16px;
        color: #000000;
        display: -webkit-box;
        overflow: hidden;
        word-break: break-word;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    &:hover {
      box-shadow: 0px 0px 15px 6px rgba($color: #000000, $alpha: 0.4);
    }
    &:hover &-image img {
      transform: scale(1.06);
      &::before {
        transform: scale(0.9433);
      }
    }
    &:hover &-brief .title {
      color: #4db7ce;
    }
  }
}
