.home {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-image: url(../../asset/img/home-background.png);
  // background-image: url(https://cdn.jsdelivr.net/gh/Huanqiang/imgBed@V1.001/img/20200507192449.png);

  &-menu {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;

    &-top {
      position: absolute;
      top: 0px;
      left: 50%;

      transform: translate(-50%, 20%);
      width: 170px;
      height: 170px;
    }

    &-bottom {
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 170px;
      height: 170px;
      transform: translate(-50%, -20%);
    }

    &-left {
      position: absolute;
      left: 0;
      top: 50%;
      width: 170px;
      height: 170px;

      transform: translate(20%, -50%);
    }

    &-right {
      position: absolute;
      right: 0;
      top: 50%;
      width: 170px;
      height: 170px;

      transform: translate(-20%, -50%);
    }

    .diamond {
      position: absolute;
      width: 170px;
      height: 170px;
      background-color: rgba($color: #ffffff, $alpha: 0.2);
      transform: rotate(45deg);
      transition: transform 0.15s ease-in-out;
    }

    &-item:hover .diamond {
      background-color: rgba($color: #ffffff, $alpha: 0.4);
      transform: rotate(45deg) scale(1.05);
    }

    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      text-align: center;
      transition: transform 0.15s ease-in-out;

      .title {
        font-size: 17px;
        color: #484848;
        display: none;
      }
    }

    &-item:hover &-content {
      transform: translate(-50%, -50%) scale(1.25);
      .title {
        display: block;
      }
    }
  }
}
