.markdown {
  font-size: 15px;
  color: #000000;
  font-family: Menlo, monospace;

  h1 {
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 0.7em;
    padding-bottom: 0.3em;
    font-size: xx-large;
    border-bottom: 1px solid #d9d9d9;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: x-large;
  }

  pre {
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 6px;
    code {
      // display: block;
      padding: 12px 20px;
      overflow-y: auto;
      font-weight: 300;
      // font-family: Menlo, monospace;
    }
  }

  code:not(.hljs) {
    // display: block;
    // padding: 12px 20px;
    // background-color: #fff5f5;
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    overflow-y: auto;
    font-weight: 600;
    // font-family: Menlo, monospace;
    background-color: #fff5f5;
  }
  p.markdown-img-container {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  blockquote {
    color: gray;
    border-left: 2px #777891 solid;
    padding-left: 8px;
  }

  table {
    margin: auto;
    margin-bottom: 12px;
    th,
    td {
      text-align: center;
      padding: 3px 8px;
    }
    th {
      border-bottom: 1px solid black;
    }
  }
  .hljs ul {
    list-style: decimal;
    margin: 0px 0px 0 40px !important;
    padding: 0px;
  }
  .hljs ul li {
    list-style: decimal-leading-zero;
    padding: 5px !important;
    // margin: 0 !important;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
  }
  // code.has-numbering {
  //   margin-left: 21px;
  // }
  // .pre-numbering {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 20px;
  //   padding: 12px 2px 12px 0;
  //   border-right: 1px solid #c3ccd0;
  //   border-radius: 3px 0 0 3px;
  //   background-color: #eee;
  //   text-align: right;
  //   font-family: Menlo, monospace;
  //   font-size: 0.8em;
  //   color: #aaa;
  // }
}
