.App {
  /* text-align: center; */
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  /* background-color: red; */
}

.slider {
  margin: 30px 8px 0px;
  width: 260px;
  /* background-color: aliceblue; */
}

.main {
  padding: 0px 40px;
  width: 100%;
  max-width: 850px;
  /* background-color: aqua; */
}
