.App {
  /* text-align: center; */
  display: flex;
}

.slider {
  margin: 30px 8px 0px;
  min-width: 150px;
}

.main {
  /* flex: 1;
  display: flex;
  justify-content: center;
  align-self: start; */
  /* margin: 0 auto; */
  /* padding-top: 90px; */
  padding: 0px 40px;
  width: 100%;
  max-width: 900px;
}
